<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Payments</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
  <div class="container-fluid text-center">
    <div><h2>Payments</h2></div>
    <div class="m-2">
      <a class="h3" th:href="@{http://localhost:8080/api/v1/airtel-payments/payments-report}">Generate report</a>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-2" onclick="generateReport()">Generate report</button>
    </div>
    <div th:if="${message}" class="alert alert-success text text-center">
      [[${message}]]
    </div>
    <div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Amount</th>
            <th>Reference</th>
            <th>Payment Date</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="payment : ${all_payments_details}">
            <tr>
              <td>[[${payment.amount}]]</td>
              <td>[[${payment.reference}]]</td>
              <td>[[${payment.createDate}]]</td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    function generateReport(){
        fetch('http://localhost:8080/api/v1/airtel-payments/payments-report')
        .then(response => response.json())
        .then(data => alert(data.operation_description));

    }
  </script>
</body>
</html>