<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Payments</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
  <div class="container-fluid text-center">
    <div class="m-5"><h2>Payments</h2></div>
    <div class="text-center m-5">
      <button type="submit" class="btn btn-primary m-2" onclick="generateReport()">Generate report</button>
      <button type="submit" class="btn btn-primary m-2" onclick="downloadReport()">Download report</button>
    </div>

    <div class="container">
      <table class="table table-bordered">

        <div class="col-sm-3 mt-5 mb-4 text-gred">
          <div class="search">
            <form class="form-inline">
              <input
                      class="form-control mr-sm-2"
                      type="text"
                      placeholder="Search"
                      aria-label="Search"
              />
            </form>
          </div>
        </div>
        <thead class="">
          <tr>
            <th>Amount</th>
            <th>Reference</th>
            <th>Payment Date</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="payment : ${all_payments_details}">
            <tr>
              <td>[[${payment.amount}]]</td>
              <td>[[${payment.reference}]]</td>
              <td>[[${payment.createDate}]]</td>
            </tr>
          </th:block>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</body>
</html>