<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Payments</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
  <div class="container-fluid text-center">
    <div><h2>Payments</h2></div>
    <div class="m-2">
      <a class="h3" th:href="@{http://localhost:8080/api/v1/airtel-payments/payments-report}">Generate report</a>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-2" onclick="generateReport()">Generate report</button>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary m-2" onclick="downloadReport()">Download report</button>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Amount</th>
            <th>Reference</th>
            <th>Payment Date</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="payment : ${all_payments_details}">
            <tr>
              <td>[[${payment.amount}]]</td>
              <td>[[${payment.reference}]]</td>
              <td>[[${payment.createDate}]]</td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </div>

  </div>
  <script>
    function generateReport(){
        fetch('http://localhost:8080/api/v1/airtel-payments/payments-report')
        .then(response => response.json())
        .then(data => alert(data.operation_description));
    }
    function downloadReport(){
      fetch("http://localhost:8080/api/v1/airtel-payments/download/")
      .then((res) => { return res.blob(); })
      .then((data) => {
       var a = document.createElement("a");
       a.href = window.URL.createObjectURL(data);
       a.download = "Payments";
       a.click();
    });
}
  </script>
</body>
</html>